.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  min-height: var(--header-height);
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--color-dark-alternate);
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;
  background-color: transparent;
  border: var(--border);
}

.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url("../icons/button-arrow-icon.svg") center/70% no-repeat;
  border: var(--border);
  border-radius: 50%;
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-grey);
}


.button.transparent:active {
  background-color: var(--color-dark-grey);
  color: var(--color-light);
}

.button:hover {
  background-color: var(--color-light-grey);
}

.button:active {
  background-color: var(--color-dark-grey);
  color: var(--color-light);
}

.header__logo {
  flex-shrink: 0;
}

.header__menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.header__menu-link {
  display: inline-flex;
  height: var(--header-height);
  align-items: center;
  column-gap: 7px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.header__menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header__actions {
  display: flex;
  column-gap: 40px;
}

.header__burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 8px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.header__burger-button:hover {
  color: var(--color-light-grey);
  border-color: currentColor;
}

.header__burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}

.banner__body {
  text-transform: uppercase;
}

.banner__info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}

.banner__info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url("../icons/banner-icon.svg") center/contain no-repeat;
}

.banner__title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner__pagination-list {
  display: flex;
  justify-content: center;
}

.banner__pagination-item {
  display: flex;
}

.banner__pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 0;
  background-color: transparent;
}

.banner__pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border);
}

.banner__pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner__pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-grey);
  transition-duration: var(--transition-duration);
}

.motivation__item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation__item:nth-child(even) .motivation__card {
  flex-direction: row-reverse;
}

.motivation__card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.417vw, 200px );
}

.motivation__card-image {
  margin-block: -60px;
}

.motivation__card-body {
  padding-left: 35px;
}

.motivation__card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivation__card-description {
  max-width: 400px;
}

.motivation__card-description:not(:last-child) {
  margin-bottom: 37px;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: "";
  position: absolute;
  right: calc(100% + 8px);
  display: block;
  width: 26px;
  aspect-ratio: 1;
  background: url("../icons/plus-icon.svg") center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.6em;
  color: transparent;
  font-family: var(--font-famaly-accent);
  font-size: 2.8em;
  -webkit-text-stroke: 1px var(--color-dark-grey);
  text-stroke: 1px var(--color-dark-grey);
}

.training-types {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: var(--color-dark);
}

.training-types__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.training-types__item {
  --trainingTypesItemBgIconSize: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-top: var(--trainingTypesItemBgIconSize);
  background: url("../icons/dark-grey-arrow-icon.svg") 100% 0/var(--trainingTypesItemBgIconSize) no-repeat;
}

.training-types__item-title {
  font-style: 16px;
}







@media (max-width: 1919px) {
    .motivation__card-image {
      margin-block: -20px;
    }
  }

@media (max-width: 1280px) {
  .training-types__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
  }

  .header__menu {
    order: 1;
    flex-basis: 100%;
  }

  .header, .banner {
    padding-inline: 15px;
  }

  .header__menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 10px;
  }

  .motivation__card {
    padding-block: 50px;
  }

  .motivation__card-image {
    max-width: 30%;
    height: auto;
    margin-block: 0;
  }
}

@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }

  .header {
    padding-top: 10px;
  }

  .header__menu-link {
    height: 32px;
  }

  .header__menu-list {
    column-gap: 24px;
  }

  .header__actions {
    column-gap: 15px;
  }

  .banner__info {
    margin-bottom: 5px;
  }

  .banner__info::before {
    margin-right: 10px;
  }

  .motivation__card, .motivation__item:nth-child(even) .motivation__card {
    flex-direction: column-reverse;
  }

  .motivation__card {
    padding-block: 30px;
    row-gap: 30px;
  }

  .motivation__card-image {
    max-width: 60%;
    height: auto;
  }

  .motivation__card-description:not(:last-child) {
    margin-bottom: 20px;
  }

  .training-types__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .training-types__item {
    --trainingTypesItemBgIconSize: 50px;
    row-gap: 10px;
  }

  .training-types__image {
    max-width: 120px;
  }
}