.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  min-height: var(--header-height);
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--color-dark-alternate);
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-grey);
}

.button:active {
  background-color: var(--color-dark-grey);
}

.header__logo {
  flex-shrink: 0;
}

.header__menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.header__menu-link {
  display: inline-flex;
  height: var(--header-height);
  align-items: center;
  column-gap: 7px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.header__menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header__actions {
  display: flex;
  column-gap: 40px;
}

.header__burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 8px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.header__burger-button:hover {
  color: var(--color-light-grey);
  border-color: currentColor;
}

.header__burger-button-line {
  width: 6px;
  height: 1px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}

.banner__body {
  text-transform: uppercase;
}

.banner__info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}

.banner__info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url("../icons/banner-icon.svg") center/contain no-repeat;
}

.banner__title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner__pagination-list {
  display: flex;
  justify-content: center;
}

.banner__pagination-item {
  display: flex;
}

.banner__pagination-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  border: 0;
  background-color: transparent;
}

.banner__pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border);
}

.banner__pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner__pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-grey);
  transition-duration: var(--transition-duration);
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
  }

  .header__menu {
    order: 1;
    flex-basis: 100%;
  }

  .header, .banner {
    padding-inline: 15px;
  }

  .header__menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 10px;
  }
}

@media (max-width: 762px) {
  .button {
    padding-inline: 18px;
  }

  .header {
    padding-top: 10px;
  }

  .header__menu-link {
    height: 32px;
  }

  .header__menu-list {
    column-gap: 24px;
  }

  .header__actions {
    column-gap: 15px;
  }

  .banner__info {
    margin-bottom: 5px;
  }

  .banner__info::before {
    margin-right: 10px;
  }
}